@{
    ViewData["Title"] = "Cookie";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо!</h1>
    <p>Це не <a href="https://yasno.com.ua/">Yasno</a>, але будемо працювати над тим щоб дорости до такого рівня та вище!</p>
</div>
