@{
    ViewData["Title"] = "Політика приватності";
}
<h1>@ViewData["Title"]</h1>

<p>Цей сайт не використовує Cookie, сесії чи інші файли які можуть бути використані для відстеження діяльності користувачів.</p>
