@model List<UserViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Hello!</h1>
<p>We have the next ViewModel:</p>
<table id="createUser">
    <tr>
        @nameof(UserViewModel)<br/>
    </tr>
    <tr>
        <td>Name</td>
        <td>Index</td>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Name</td>
            <td>@user.Index</td>
        </tr>
    }
</table>

<style type="text/css">
    table, tr, td  {
        border: 1px solid;
    }
</style>